@use 'common/var' as *;
@use 'mixins/mixins' as *;

@include b(form-item) {
  display: flex;
  margin-bottom: 18px;

  @include e(label) {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 12px;
    height: 32px;
    line-height: 32px;
  }

  @include e(content) {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  @include e(error) {
    position: absolute;
    top: 100%;
    left: 0;
    color: $m2-color-error;
    font-size: 12px;
  }
}
