@use './mixins/mixins.scss' as *;
@use './common/var.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b(tree-node) {
  display: flex;
  flex: 1;
  padding: 5px 0;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: $m2-background-color-tree-node;
  }

  &.is-disabled {
    cursor: not-allowed;
  }

  @include when(selected) {
    background-color: burlywood;
    cursor: pointer;
  }

  @include e(content) {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;

    .#{$namespace}-checkbox {
      margin-left: 5px;
    }
  }

  @include e(expand-icon) {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    &.expanded {
      transform: rotate(90deg);
    }
  }

  @include e('label') {
    flex: 1;
  }
}
