$m2-white: #ffffff !default;

$m2-color-primary: #409eff !default;
$m2-color-primary-light-3: #79bbff !default;
$m2-color-primary-light-5: #a0cfff !default;
$m2-color-primary-light-7: #c6e2ff !default;
$m2-color-primary-light-8: #d9ecff !default;
$m2-color-primary-light-9: #ecf5ff !default;
$m2-color-disabled: #a8abb2 !default;

$m2-color-primary-dark-2: #337ecc !default;
$m2-color-success: #67c23a !default;
$m2-color-success-light-3: #95d475 !default;
$m2-color-success-light-5: #b3e19d !default;
$m2-color-success-light-7: #d1edc4 !default;
$m2-color-success-light-8: #e1f3d8 !default;
$m2-color-success-light-9: #f0f9eb !default;
$m2-color-success-dark-2: #529b2e !default;
$m2-color-warning: #e6a23c !default;
$m2-color-warning-light-3: #eebe77 !default;
$m2-color-warning-light-5: #f3d19e !default;
$m2-color-warning-light-7: #f8e3c5 !default;
$m2-color-warning-light-8: #faecd8 !default;
$m2-color-warning-light-9: #fdf6ec !default;
$m2-color-warning-dark-2: #b88230 !default;
$m2-color-danger: #f56c6c !default;
$m2-color-danger-light-3: #f89898 !default;
$m2-color-danger-light-5: #fab6b6 !default;
$m2-color-danger-light-7: #fcd3d3 !default;
$m2-color-danger-light-8: #fde2e2 !default;
$m2-color-danger-light-9: #fef0f0 !default;
$m2-color-danger-dark-2: #c45656 !default;
$m2-color-error: #f56c6c !default;
$m2-color-error-light-3: #f89898 !default;
$m2-color-error-light-5: #fab6b6 !default;
$m2-color-error-light-7: #fcd3d3 !default;
$m2-color-error-light-8: #fde2e2 !default;
$m2-color-error-light-9: #fef0f0 !default;
$m2-color-error-dark-2: #c45656 !default;
$m2-color-info: #909399 !default;
$m2-color-info-light-3: #b1b3b8 !default;
$m2-color-info-light-5: #c8c9cc !default;
$m2-color-info-light-7: #dedfe0 !default;
$m2-color-info-light-8: #e9e9eb !default;
$m2-color-info-light-9: #f4f4f5 !default;
$m2-color-info-dark-2: #73767a !default;

$m2-fill-color-light: #f5f7fa !default;
$m2-fill-color-lighter: #fafafa !default;
$m2-fill-color-extra-light: #fafcff !default;
$m2-fill-color-dark: #ebedf0 !default;
$m2-fill-color-darker: #e6e8eb !default;
$m2-fill-color-blank: #ffffff !default;

$m2-text-color-primary: #303133 !default;
$m2-text-color-regular: #606266 !default;
$m2-text-color-secondary: #909399 !default;
$m2-text-color-placeholder: #a8abb2 !default;
$m2-text-color-disabled: #c0c4cc !default;

$m2-border-color: #dcdfe6 !default;
$m2-border-color-light: #e4e7ed !default;
$m2-border-color-lighter: #ebeef5 !default;
$m2-border-color-extra-light: #f2f6fc !default;
$m2-border-color-dark: #d4d7de !default;
$m2-border-color-darker: #cdd0d6 !default;

$m2-background-color-white: $m2-white !default;
$m2-background-color-tree-node: antiquewhite !default;

$m2-border: 1px solid $m2-border-color;
$m2-border-radius-base: 4px !default;
$m2-border-radius-small: 2px !default;
$m2-border-radius-round: 20px !default;
$m2-border-radius-circle: 100% !default;

$m2-border-checkbox: $m2-border;
$m2-checkbox-input-height: 14px;
$m2-checkbox-input-width: 14px;

$m2-z-index-normal: 1 !default;
